.listadoC{
    border: 1px solid white;
    border-radius: 10px;
    overflow-y: auto;
    height: 450px;
    /* padding-top: 25px;*/
    margin: 10px;
    margin-top: 19px; 
}

.listadoC p{
    padding-left: 15px;
}

tr{
    cursor: pointer;
}

tr:hover{
    background: radial-gradient(circle at center, rgb(163, 200, 255), rgb(201, 230, 255));
}

.itemB{
    background-color: rgb(169, 213, 252);
}

.escondido{
    display: none;
}